<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <root level="info">
        <appender-ref ref="CONSOLE" />
    </root>

    <logger name="org.testcontainers" level="INFO" />
    <logger name="tc" level="INFO" />
    <logger name="com.github.dockerjava" level="WARN" />
    <logger name="com.github.dockerjava.zerodep.shaded.org.apache.hc.client5.http.wire" level="OFF" />
</configuration>
